# CONFIG_RISCV_M_MODE is not set
CONFIG_BUILTIN_DTB=y
CONFIG_SERIAL_EARLYCON_RISCV_SBI=y
CONFIG_HVC_DRIVER=y
CONFIG_HVC_RISCV_SBI=y
CONFIG_CMDLINE="earlycon=sbi console=hvc0"
CONFIG_CMDLINE_FORCE=y
CONFIG_BUILTIN_DTB_NAME="go-riscv-emu"
CONFIG_32BIT=y
CONFIG_ARCH_MMAP_RND_BITS_MIN=8 
CONFIG_ARCH_MMAP_RND_BITS_MAX=17
CONFIG_ILLEGAL_POINTER_VALUE=0 
CONFIG_PGTABLE_LEVELS=2        
CONFIG_ARCH_RV32I=y      
# CONFIG_ARCH_RV64I is not set   
# CONFIG_CMODEL_MEDLOW is not set
# CONFIG_RISCV_ISA_C is not set
# CONFIG_RISCV_ISA_ZAWRS is not set   
# CONFIG_RISCV_ISA_ZACAS is not set   
# CONFIG_RISCV_ISA_ZBA is not set    
# CONFIG_RISCV_ISA_ZBB is not set    
# CONFIG_RISCV_ISA_ZBKB is not set    
# CONFIG_RISCV_ISA_ZICBOZ is not set  
# CONFIG_FPU is not set  
CONFIG_THREAD_SIZE_ORDER=1
# CONFIG_RISCV_PROBE_UNALIGNED_ACCESS is not set 
CONFIG_RISCV_EMULATED_UNALIGNED_ACCESS=y         
# CONFIG_RISCV_ISA_VENDOR_EXT_ANDES is not set 
# CONFIG_RISCV_ISA_VENDOR_EXT_MIPS is not set 
# CONFIG_RISCV_ISA_VENDOR_EXT_SIFIVE is not set
# CONFIG_RISCV_ISA_VENDOR_EXT_THEAD is not set   
CONFIG_PHYS_RAM_BASE_FIXED=y      
CONFIG_PHYS_RAM_BASE=0x80000000   
CONFIG_CPU_NO_EFFICIENT_FFS=y
CONFIG_GENERIC_ATOMIC64=y  
CONFIG_GENERIC_LIB_ASHLDI3=y 
CONFIG_GENERIC_LIB_ASHRDI3=y 
CONFIG_GENERIC_LIB_LSHRDI3=y 
CONFIG_GENERIC_LIB_UCMPDI2=y 
CONFIG_RISCV_SBI_V01=y
